.LoginScreenContainer
 {
     margin-top: 150px;
     background-color: white;
     /* border: 1px solid black; */
     /* height: 300px; */
     /* width: 180px; */
     float: center
 /* margin-left: 32px; */
 /* border-radius: 10px;  */
 }